.marker_popup_title_div {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 200px;
  word-wrap: break-word;
}

.marker_popup_title {
  margin: 5px 0;
  border-bottom: 1px solid var(--color-purple);
  width: fit-content;
  color: var(--color-purple);
  padding-right: 2px;
}

.marker_popup_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.marker_popup_actions {
  z-index: 1099;
  background-color: var(--color-base-100);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #0000007c;
}

.marker_popup_edit,
.marker_popup_delete {
  cursor: pointer;
}

.marker_popup_desc {
  color: var(--color-base-25);
  max-width: 200px;
  word-wrap: break-word;
}
