@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.callout-note {
  border-left: 4px solid #00aaff;
  background: #087ebd;
  padding: 0.75em 1em;
  margin: 1em 0;
  border-radius: 6px;
}

.callout-title {
  font-weight: bold;
  color: #00aaff;
  margin-bottom: 0.5em;
}

li:has(> input[type="checkbox"]) {
  list-style-type: none;
  margin-left: -26px;
}
