@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Obsidian MD Styling */

li:has(> input[type="checkbox"]) {
  list-style-type: none;
  margin-left: -26px;
}

blockquote {
  border-left: 3px solid #eeeeee;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.callout {
  padding: 0.5rem 1rem 1.5rem;
  color: #c2c4c6;
}

.callout-title {
  font-weight: 600;
}

.callout-note {
  background-color: #151f2d;
}
.callout-note > *:first-child {
  color: #157aff;
}

.callout-abstract {
  background-color: #1b2a2a;
}
.callout-abstract > *:first-child {
  color: #53dfdd;
}

.callout-info {
  background-color: #151f2d;
}
.callout-info > *:first-child {
  color: #155cba;
}

.callout-todo {
  background-color: #151f2d;
}
.callout-todo > *:first-child {
  color: #157aff;
}

.callout-tip {
  background-color: #1b2a2a;
}
.callout-tip > *:first-child {
  color: #53dfdd;
}

.callout-success {
  background-color: #1a281e;
}
.callout-success > *:first-child {
  color: #44cf6e;
}

.callout-question {
  background-color: #e9973f;
}
.callout-question > *:first-child {
  color: #2b2219;
}

.callout-warning {
  background-color: #2b2219;
}
.callout-warning > *:first-child {
  color: #e9973f;
}

.callout-failure {
  background-color: #2d1a1b;
}
.callout-failure > *:first-child {
  color: #fb464c;
}

.callout-danger {
  background-color: #2d1a1b;
}
.callout-danger > *:first-child {
  color: #fb464c;
}

.callout-bug {
  background-color: #2d1a1b;
}
.callout-bug > *:first-child {
  color: #fb464c;
}

.callout-example {
  background-color: #24202d;
}
.callout-example > *:first-child {
  color: #a882ff;
}

.callout-quote {
  background-color: #232323;
}
.callout-quote > *:first-child {
  color: #9e9e9e;
}
